#!/usr/bin/env bash

[ -d bin ] && export PATH=/home/kaineer/devel/itc/test-bench/client/bin:$PATH
[ -d node_modules/.bin ] && export PATH=/home/kaineer/devel/itc/test-bench/client/node_modules/.bin:$PATH
export PROJECT_PATH=/home/kaineer/devel/itc/test-bench/client
export PROJECT_BIN=/home/kaineer/devel/itc/test-bench/client/bin
export PROJECT_NAME=client
export PROJECT_CREATED="23.09.2025"
