#!/usr/bin/env bash

[ -d bin ] && export PATH=/home/kaineer/devel/itc/test-bench/bin:$PATH
[ -d node_modules/.bin ] && export PATH=/home/kaineer/devel/itc/test-bench/node_modules/.bin:$PATH
export PROJECT_PATH=/home/kaineer/devel/itc/test-bench
export PROJECT_BIN=/home/kaineer/devel/itc/test-bench/bin
export PROJECT_NAME=test-bench
export PROJECT_CREATED="23.09.2025"
