.textarea {
  flex-grow: 1;
  font-family: monospace;
  font-size: 16px;
  height: 100%;
  margin-bottom: 10px;
  resize: none;

  & div {
    border-radius: 8px;
    border: none;
    outline: none;
  }
}
